<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../../gaboin/static/main/css/main.css">
    <link rel="stylesheet" href="../../../gaboin/static/base_static/css/base.css">
    <title>Document</title>
</head>


<body>
    <div class="request_call_modal">
        <div class="modal">
            <h3 class="request_call_modal_title">
                ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК
            </h3>
            <span class="request_call_modal_subtitle">
                оставьте завку и мы перезвоним вам в ближайшее время
            </span>
            <form action="#">
                <div class="name">
                    <input type="text" placeholder="*Ваше имя">
                </div>
                <div class="phone">
                    <input type="text" placeholder="*Ваш телефон">
                </div>
                <div class="modal_submit_btn">
                    <button type="submit">ОТПРАВИТЬ</button>
                </div>
            </form>

            <div class="modal_close_btn"></div>
        </div>
    </div>
    <header class="header_parent">
        <div class="header container">
            <div class="logotype">
                <a href="#"><img src="../../../gaboin/static/base_static/img/logo.png" alt=""></a>
                <span>Сооружения <br> из габионов</span>
            </div>
            <div class="language_switcher">
                <div class="select_box">
                    <div class="option_container select_box_active">
                        <input type="radio" name="language" id="uzb" class="radio">
                        <label for="uzb"><a href="#">O'zbek</a></label>
                    </div>
                    <div class="option_container">
                        <input type="radio" name="language" id="rus" class="radio">
                        <label for="rus"><a href="#">Русский</a></label>
                    </div>
                </div>
            </div>
            <div class="header_info">
                <div class="info">
                    <div class="clock">
                        <p>Заявки через сайт принимаются</p>
                        <p>круглосуточно и без выходных</p>
                    </div>
                    <a href="mailto:rizoubaydullayev17@gmail.com" class="email">rizoubaydullayev17@gmail.com</a>
                    <a href="tel:+998906288590" class="phone">+99890 628 85-90</a>
                </div>
                <div class="request_call">
                    <button type="button">Заказать звонок</button>
                </div>
            </div>
        </div>
        <nav class="menu container ">
            <ul class="menu_list">
                <li class="menu_inner"><a href="" class="menu_inner_link">Улуги</a></li>
                <li class="menu_inner"><a href="" class="menu_inner_link">Наши работы</a></li>
                <li class="menu_inner"><a href="" class="menu_inner_link">Контакты</a></li>
                <li class="menu_inner"><a href="" class="menu_inner_link">Как мы работаем?</a></li>
            </ul>
        </nav>
        <div class="menu_btn">
        </div>
        <div class="menu_close_btn">

        </div>
    </header>

    <div class="main_slider">
        <div class="main_slider_wrap">
            <div class="page" data-index="1" style="background-image: url(../../../gaboin/static/main/img/page_1.png)">
                <div class="page_content">
                    <h2 class="page_title">
                        Укрепили береговую линию возле котеджа
                    </h2>
                    <div class="page_wrap">
                        <div class="wrap">
                            <span class="page_location">Ферганская область, Багдадский район</span>
                        </div>
                        <a href="./about_the_project.html" class="page_show_detail">Подробнее о проекте</a>
                    </div>
                </div>
            </div>
            <div class="page" data-index="2" style="background-image: url(../../../gaboin/static/main/img/page_1.png)">
                <div class="page_content">
                    <h2 class="page_title">
                        Укрепили береговую линию возле котеджа Укрепили береговую линию возле котеджа
                        Укрепили береговую линию возле котеджа
                    </h2>
                    <div class="page_wrap">
                        <div class="wrap">
                            <span class="page_location">Ферганская область, Багдадский район</span>
                        </div>
                        <a href="./about_the_project.html" class="page_show_detail">Подробнее о проекте</a>
                    </div>
                </div>
            </div>
            <div class="page" data-index="2" style="background-image: url(../../../gaboin/static/main/img/page_1.png)">
                <div class="page_content">
                    <h2 class="page_title">
                        Укрепили береговую линию возле котеджа Укрепили береговую линию возле котеджа
                        Укрепили береговую линию возле котеджа
                    </h2>
                    <div class="page_wrap">
                        <div class="wrap">
                            <span class="page_location">Ферганская область, Багдадский район</span>
                        </div>
                        <a href="./about_the_project.html" class="page_show_detail">Подробнее о проекте</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider_arrows">
            <div class="arrow_prev arrow">
                <img src="../../../gaboin/static/main/img/icons/main_slider_arrow.png" alt="arrow">
            </div>
            <div class="swiper-pagination-current counter">
            </div>
            <div class="arrow_next arrow">
                <img src="../../../gaboin/static/main/img/icons/main_slider_arrow.png" alt="arrow">
            </div>
        </div>

    </div>

    <main class="main container">
        <h3 class="main_title">
            Наши услуги
        </h3>
        <div class="cards_service">
            <div class="card">
                <div class="card_img">
                    <img src="../../../gaboin/static/main/img/armirovanie-grunta.jpg" alt="armirovanie-grunta">
                </div>
                <h2 class="card_title">
                    Армирование грунта
                </h2>
                <p class="card_text">
                    Для сохранения нестабильных слоев почвы в оптимальном состоянии могут применяться коробчатые габионы
                    и матрацы Рено. Они прекрасно подходят для укрепления нестабильных грунтовых оснований.
                </p>
                <a href="./about_the_service.html" class="button_details">
                    <span>Подробнее</span>
                </a>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="../../../gaboin/static/main/img/stroitelystvo-podpornyх-sten.jpg"
                        alt="stroitelystvo-podpornyх-sten">
                </div>
                <h2 class="card_title">
                    Строительство подпорных стен
                </h2>
                <p class="card_text">
                    Подпорная стена представляет собой сооружение, позволяющее предотвращать сползание грунта по склонам
                    местности. Строительство подпорных стен нужно проводить на тех участках, которые обладают резкими
                    перепадами высоты. То есть, на них присутствуют овраги, холмы.
                </p>
                <a href="./about_the_service.html" class="button_details">
                    <span>Подробнее</span>
                </a>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="../../../gaboin/static/main/img/ukreplenie-beregovoy-linii.jpg" alt="ukreplenie-beregovoy-linii">
                </div>
                <h2 class="card_title">
                    Укрепление береговой линии
                </h2>
                <p class="card_text">
                    Одним из наиболее популярных методов по укреплению побережий водоемов является применением габионов.
                    Это позволяет создавать надежные и долговечные основания для построек, обеспечивая устойчивое
                    положение почвы на протяжении длительного времени.
                </p>
                <a href="./about_the_service.html" class="button_details">
                    <span>Подробнее</span>
                </a>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="../../../gaboin/static/main/img/ukreplenie-osnovaniy-i-opor-mostov.jpg"
                        alt="ukreplenie-osnovaniy-i-opor-mostov">
                </div>
                <h2 class="card_title">
                    Укрепление оснований и опор мостов
                </h2>
                <p class="card_text">
                    Габионы применяются при создании удерживающих конструкций. За счет этого опоры мостов не только
                    получают защиту от деформации, они постепенно укрепляются, чему способствуют эксплуатационные
                    нагрузки.
                </p>
                <a href="./about_the_service.html" class="button_details">
                    <span>Подробнее</span>
                </a>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="../../../gaboin/static/main/img/ukreplenie-sklonov.jpg" alt="ukreplenie-sklonov">
                </div>
                <h2 class="card_title">
                    Укрепление склонов
                </h2>
                <p class="card_text">
                    Укрепление склона габионами позволит значительно увеличить его устойчивость к большим нагрузкам.
                </p>
                <a href="./about_the_service.html" class="button_details">
                    <span>Подробнее</span>
                </a>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="../../../gaboin/static/main/img/ukreplenie-sklonov-i-nasypey-avtomobilynyх-dorog.jpg"
                        alt="ukreplenie-sklonov-i-nasypey-avtomobilynyх-dorog">
                </div>
                <h2 class="card_title">
                    Укрепление склонов и насыпей автомобильных дорог
                </h2>
                <p class="card_text">
                    Применение габионных конструкций позволяет защитить грунт откосов от разрушения, связанного с
                    воздействием эрозии, оползнями и другими процессами.
                </p>
                <a href="./about_the_service.html" class="button_details">
                    <span>Подробнее</span>
                </a>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="../../../gaboin/static/main/img/stroitelystvo-zaborov.jpg" alt="stroitelystvo-zaborov">
                </div>
                <h2 class="card_title">
                    Строительство заборов
                </h2>
                <p class="card_text">
                    Сегодня тяжело представить загородный участок без надежного ограждения и на помощь стандартным
                    вариантам решения этой проблемы, дачевладельцы нашли оригинальный метод, который знаменит своими
                    функциональными качествами — устройство забора из габионов.
                </p>
                <a href="./about_the_service.html" class="button_details">
                    <span>Подробнее</span>
                </a>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="../../../gaboin/static/main/img/ukrashenie-landshafta.jpg" alt="ukrashenie-landshafta">
                </div>
                <h2 class="card_title">
                    Украшение ландшафта
                </h2>
                <p class="card_text">
                    В ландшафтном дизайне популярны ограждения, при возведении которых используют декоративные и
                    природные камни разного формата, скрепленные сеткой или раствором.
                </p>
                <a href="./about_the_service.html" class="button_details">
                    <span>Подробнее</span>
                </a>
            </div>
        </div>
    </main>

    <div class="our_work">
        <h3 class="our_work_title">
            Наши работы
        </h3>
        <div class="our_work_slider">
            <div class="our_work_slider_wrap">
                <div class="work_card">
                    <div class="card_inner"
                        style="background-image: url(../../../gaboin/static/main/img/work_cards/work_card_1.jpg) ;">
                        <a href="#"></a>
                    </div>
                </div>
                <div class="work_card">
                    <div class="card_inner"
                        style="background-image: url(../../../gaboin/static/main/img/work_cards/work_card_2.jpg) ;">
                        <a href="#"></a>
                    </div>
                </div>
                <div class="work_card">
                    <div class="card_inner"
                        style="background-image: url(../../../gaboin/static/main/img/work_cards/work_card_3.jpg) ;">
                        <a href="#"></a>
                    </div>
                </div>
                <div class="work_card">
                    <div class="card_inner"
                        style="background-image: url(../../../gaboin/static/main/img/work_cards/work_card_4.jpg) ;">
                        <a href="#"></a>
                    </div>
                </div>
                <div class="work_card">
                    <div class="card_inner"
                        style="background-image: url(../../../gaboin/static/main/img/work_cards/work_card_5.jpg) ;">
                        <a href="#"></a>
                    </div>
                </div>
                <div class="work_card">
                    <div class="card_inner"
                        style="background-image: url(../../../gaboin/static/main/img/work_cards/work_card_6.jpg) ;">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="our_work_pagination">
            </div>
        </div>
        <div class="our_work_show_more">
            <a href="./portfolio.html" class="show_more_btn">
                <span>Посмотреть больше</span>
            </a>
        </div>
    </div>
<hr>
    <div class="send_message container">
        <div class="send_message_title">
            <p>Чем можем помочь?</p>
            <span>Напишите нам!</span> 
        </div>
        <form action="" class="send_message_form">
            <div class="name_phone">
                <div class="name">
                    <input type="text" placeholder="*Ваше имя">
                </div>
                <div class="phone">
                    <input type="text" placeholder="*Ваш телефон">
                </div>
            </div> 
            <textarea class="message" name="" id=""></textarea>
            <div class="modal_submit_btn">
                <button type="submit">Отправить</button>
            </div>
        </form>
    </div>
<hr>
    <footer class="footer">
        <div class="footer_container container">
            <nav class="menu">
                <ul class="menu_list">
                    <li class="menu_inner"><a href="" class="menu_inner_link">Улуги</a></li>
                    <li class="menu_inner"><a href="" class="menu_inner_link">Наши работы</a></li>
                    <li class="menu_inner"><a href="" class="menu_inner_link">Контакты</a></li>
                    <li class="menu_inner"><a href="" class="menu_inner_link">Как мы работаем?</a></li>
                </ul>
            </nav>
            <div class="footer_cities">
                <h3 class="cities_title">
                    Мы работаем в следующих городах:
                </h3>
                <ul class="cities_list">
                    <li class="list_item">Ташкент</li>
                    <li class="list_item">Фергана</li>
                    <li class="list_item">Наманган</li>
                    <li class="list_item">Андижан</li>
                    <li class="list_item">Самарканд</li>
                </ul>
            </div>
            <div class="footer_card">
                <div class="logotype">
                    <a href="#"><img src="../../../gaboin/static/base_static/img/logo.png" alt=""></a>
                    <span>Сооружения <br> из габионов</span>
                </div>
                <div class="info">
                    <div class="footer_phone">
                        <a href="tel:+998906288590" class="phone">+99891 628 85-90</a>
                        <div class="request_call">
                            <button type="button">Заказать звонок</button>
                        </div>
                    </div>
                    <a href="mailto:rizoubaydullayev17@gmail.com" class="email">rizoubaydullayev17@gmail.com</a>
                    <div class="clock">
                        <p>Заявки через сайт принимаются</p>
                        <p>круглосуточно и без выходных</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../../../gaboin/static/main/js/main.js"></script>
    <script src="../../../gaboin/static/base_static/js/base.js"></script>
    
</body>
</html>