<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../../gaboin/static/base_static/css/base.css">
    <link rel="stylesheet" href="../../../gaboin/static/main/css/portfolio.css">
    <title>Document</title>
</head>


<body>
    <div class="request_call_modal">
        <div class="modal">
            <h3 class="request_call_modal_title">
                ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК
            </h3>
            <span class="request_call_modal_subtitle">
                оставьте завку и мы перезвоним вам в ближайшее время
            </span>
            <form action="#">
                <div class="name">
                    <input type="text" placeholder="*Ваше имя">
                </div>
                <div class="phone">
                    <input type="text" placeholder="*Ваш телефон">
                </div>
                <div class="modal_submit_btn">
                    <button type="submit">ОТПРАВИТЬ</button>
                </div>
            </form>

            <div class="modal_close_btn"></div>
        </div>
    </div>
    <header class="header_parent">
        <div class="header container">
            <div class="logotype">
                <a href="./index.html"><img src="../../../gaboin/static/base_static/img/logo.png" alt=""></a>
                <span>Сооружения <br> из габионов</span>
            </div>
            <div class="language_switcher">
                <div class="select_box">
                    <div class="option_container select_box_active">
                        <input type="radio" name="language" id="uzb" class="radio">
                        <label for="uzb"><a href="#">O'zbek</a></label>
                    </div>
                    <div class="option_container">
                        <input type="radio" name="language" id="rus" class="radio">
                        <label for="rus"><a href="#">Русский</a></label>
                    </div>
                </div>
            </div>
            <div class="header_info">
                <div class="info">
                    <div class="clock">
                        <p>Заявки через сайт принимаются</p>
                        <p>круглосуточно и без выходных</p>
                    </div>
                    <a href="mailto:rizoubaydullayev17@gmail.com" class="email">rizoubaydullayev17@gmail.com</a>
                    <a href="tel:+998906288590" class="phone">+99890 628 85-90</a>
                </div>
                <div class="request_call">
                    <button type="button">Заказать звонок</button>
                </div>
            </div>
        </div>
        <nav class="menu container ">
            <ul class="menu_list">
                <li class="menu_inner"><a href="./index.html" class="menu_inner_link">Улуги</a></li>
                <li class="menu_inner"><a href="./index.html" class="menu_inner_link">Наши работы</a></li>
                <li class="menu_inner"><a href="./index.html" class="menu_inner_link">Контакты</a></li>
                <li class="menu_inner"><a href="./index.html" class="menu_inner_link">Как мы работаем?</a></li>
            </ul>
        </nav>
        <div class="menu_btn">
        </div>
        <div class="menu_close_btn">

        </div>
    </header>

<hr>
    <div class="send_message container">
        <div class="send_message_title">
            <p>Чем можем помочь?</p>
            <span>Напишите нам!</span> 
        </div>
        <form action="" class="send_message_form">
            <div class="name_phone">
                <div class="name">
                    <input type="text" placeholder="*Ваше имя">
                </div>
                <div class="phone">
                    <input type="text" placeholder="*Ваш телефон">
                </div>
            </div> 
            <textarea class="message" name="" id=""></textarea>
            <div class="modal_submit_btn">
                <button type="submit">Отправить</button>
            </div>
        </form>
    </div>
<hr>
    <footer class="footer">
        <div class="footer_container container">
            <nav class="menu">
                <ul class="menu_list">
                    <li class="menu_inner"><a href="./index.html" class="menu_inner_link">Улуги</a></li>
                    <li class="menu_inner"><a href="./index.html" class="menu_inner_link">Наши работы</a></li>
                    <li class="menu_inner"><a href="./index.html" class="menu_inner_link">Контакты</a></li>
                    <li class="menu_inner"><a href="./index.html" class="menu_inner_link">Как мы работаем?</a></li>
                </ul>
            </nav>
            <div class="footer_cities">
                <h3 class="cities_title">
                    Мы работаем в следующих городах:
                </h3>
                <ul class="cities_list">
                    <li class="list_item">Ташкент</li>
                    <li class="list_item">Фергана</li>
                    <li class="list_item">Наманган</li>
                    <li class="list_item">Андижан</li>
                    <li class="list_item">Самарканд</li>
                </ul>
            </div>
            <div class="footer_card">
                <div class="logotype">
                    <a href="./index.html"><img src="../../../gaboin/static/base_static/img/logo.png" alt=""></a>
                    <span>Сооружения <br> из габионов</span>
                </div>
                <div class="info">
                    <div class="footer_phone">
                        <a href="tel:+998906288590" class="phone">+99891 628 85-90</a>
                        <div class="request_call">
                            <button type="button">Заказать звонок</button>
                        </div>
                    </div>
                    <a href="mailto:rizoubaydullayev17@gmail.com" class="email">rizoubaydullayev17@gmail.com</a>
                    <div class="clock">
                        <p>Заявки через сайт принимаются</p>
                        <p>круглосуточно и без выходных</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../../../gaboin/static/main/js/main.js"></script>
    <script src="../../../gaboin/static/base_static/js/base.js"></script>
</body>

</html>