/*====  Шрифты  ====*/
@font-face {
    font-family: "ProximaNova-Semibold";
    src: url("../../fonts/ProximaNova-Semibold.ttf") format("truetype");
    src: url("../../fonts/ProximaNova-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "ProximaNova-Regular";
    src: url("../../fonts/ProximaNova-Regular.ttf") format("truetype");
    src: url("../../fonts/ProximaNova-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
/*====  Базовые настройки  ====*/
.container {
    max-width: 1620px;
    margin: 0 auto;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*====  Всплывающие окна  ====*/
.request_call_modal {
    z-index: 555;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    width: 100%;
    position: fixed;
    height: 100vh;
    font-family: ProximaNova-Regular, sans-serif;
    display: none;
    justify-content: center;
    align-items: center;
    .modal {
        position: relative;
        width: 500px;
        border-radius: 5px;
        background: #e9fdff;
        padding: 30px 50px;
        .request_call_modal_title {
            font-family: ProximaNova-Semibold, sans-serif;
            margin: 0;
            font-size: 22px;
            text-align: center;
        }
        .request_call_modal_subtitle {
            display: block;
            font-size: 12px;
            text-align: center;
        }
        .name {
            font-size: 14px;
            position: relative;
            margin-bottom: 10px;
            margin-top: 20px;
            &:before {
                content: "";

                width: 20px;
                height: 20px;
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
                background: url(../img/icons/user.svg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            input {
                background: transparent;
                border: solid 2px #acacac;
                display: block;
                width: 100%;
                height: 40px;
                border-radius: 5px;
                padding-left: 30px;
            }
        }
        .phone {
            font-size: 14px;
            position: relative;
            &:before {
                content: "";
                width: 20px;
                height: 20px;
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
                background: url(../img/icons/phone.svg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            input {
                background: transparent;
                border: solid 2px #acacac;
                display: block;
                width: 100%;
                height: 40px;
                border-radius: 5px;
                padding-left: 30px;
            }
        }
        .modal_submit_btn {
            text-align: center;
            button {
                cursor: pointer;
                width: 100%;
                font-family: ProximaNova-Semibold, sans-serif;
                margin-top: 10px;
                border: solid 2px #acacac;
                background: transparent;
                border-radius: 5px;
                height: 40px;
                font-size: 22px;
                &:hover {
                    background-color: #acacac;
                }
            }
        }
        .modal_close_btn {
            cursor: pointer;
            top: -40px;
            right: -40px;
            position: absolute;
            width: 22px;
            height: 22px;
            background: url(../img/icons/modal_close.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
.request_call_modal_active {
    display: flex;
}
.menu {
    font-family: ProximaNova-Regular, serif;
    display: block;
    .menu_list {
        margin: 0;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 90px;
        list-style: none;
        padding: 0;
        .menu_inner {
            display: inline-block;
            a {
                display: inline-block;
                text-decoration: none;
                color: #000;
            }
        }
    }
}

/*====  Header  ====*/
.header_parent {
    overflow: hidden;
    background-color: #e9fdff;
    padding: 30px 0;
    .header {
        display: flex;
        justify-content: space-between;
        .logotype {
            display: flex;
            align-items: center;
            gap: 15px;
            a {
                max-width: 80px;
                max-height: 80px;
                img {
                    width: 100%;
                }
            }
            span {
                font-family: ProximaNova-Regular;
                line-height: 1.5;
                font-size: 14px;
                display: inline-block;
            }
        }
        .language_switcher {
            width: 80px;
            .select_box {
                position: relative;
                font-size: 14px;
                font-family: ProximaNova-Regular;
                border: 2px solid #acacac;
                border-radius: 5px;
                // background: transparent;
                overflow: hidden;
                .option_container {
                    text-align: center;
                    display: none;
                    // padding-left: 10px;
                    &:hover {
                        background: #acacac;
                    }
                    input {
                        cursor: pointer;
                    }
                    label {
                        cursor: pointer;
                        a {
                            text-decoration: none;
                            color: #000;
                        }
                    }
                    .radio {
                        display: none;
                    }
                }
                .select_box_active {
                    display: block;
                    cursor: pointer;
                }
            }
        }
        .header_info {
            font-size: 14px;
            font-family: ProximaNova-Regular;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .info {
                gap: 40px;
                display: flex;
                // align-items: center;
                a {
                    display: block;
                }
                .clock {
                    display: inline-block;
                    position: relative;
                    padding-left: 30px;
                    p {
                        margin: 0;
                        padding: 0;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        height: 20px;
                        width: 20px;
                        background: url(../img/icons/clock.svg);
                        top: 0;
                        transform: translateY(15%);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
                .email {
                    padding-left: 30px;
                    display: inline-block;
                    position: relative;
                    text-decoration: none;
                    color: #000;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 20px;
                        width: 20px;
                        background: url(../img/icons/mail.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
                .phone {
                    padding-left: 30px;
                    display: inline-block;
                    position: relative;
                    text-decoration: none;
                    color: #000;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 20px;
                        width: 20px;
                        background: url(../img/icons/phone.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
            .request_call {
                display: flex;
                justify-content: flex-end;
                button {
                    width: 144px;
                    height: 38px;
                    cursor: pointer;
                    background: transparent;
                    font-size: 14px;
                    font-family: ProximaNova-Regular;
                    border: 2px solid #acacac;
                    border-radius: 5px;
                    &:hover {
                        background: #acacac;
                    }
                }
            }
        }
    }
    .menu {
        .menu_list {
            .menu_inner {
                a {
                    font-size: 14px;
                }
            }
        }
    }
    
}

/*====  Footer  ====*/
.footer {
    font-size: 14px;
    font-family: ProximaNova-Regular, serif;
    background-color: #e9fdff;
    padding: 30px 0;
    .footer_container {
        gap: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .menu {
            display: inline-block;
            .menu_list {
                margin: 0;
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 10px;
                list-style: none;
                padding: 0;
                .menu_inner {
                    display: inline-block;
                    a {
                        display: inline-block;
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
        }
        .footer_cities {
            .cities_title {
                margin: 0;
                font-family: ProximaNova-Regular, serif;
                font-size: 14px;
                font-weight: normal;
            }
            .cities_list {
                margin: 0;
                margin-top: 15px;
                padding-left: 15px;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
        .footer_card {
            font-size: 14px;
            font-family: ProximaNova-Regular, serif;
            .logotype {
                display: flex;
                align-items: center;
                gap: 15px;
                a {
                    display: inline-block;
                    max-width: 80px;
                    max-height: 80px;
                    img {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                    }
                }
                span {
                    display: inline-block;
                }
            }
            .info {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .footer_phone {
                    display: flex;
                    .phone {
                        padding-left: 30px;
                        display: inline-block;
                        position: relative;
                        text-decoration: none;
                        color: #000;
                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            height: 20px;
                            width: 20px;
                            background: url(../img/icons/phone.svg);
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                    .request_call {
                        margin-left: 30px;
                        button {
                            width: 144px;
                            height: 38px;
                            cursor: pointer;
                            background: transparent;
                            border: 2px solid #acacac;
                            border-radius: 5px;
                            &:hover {
                                background: #acacac;
                            }
                        }
                    }
                }
                .email {
                    padding-left: 30px;
                    display: inline-block;
                    position: relative;
                    text-decoration: none;
                    color: #000;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 20px;
                        width: 20px;
                        background: url(../img/icons/mail.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
                .clock {
                    display: inline-block;
                    position: relative;
                    padding-left: 30px;
                    p {
                        margin: 0;
                        padding: 0;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        height: 20px;
                        width: 20px;
                        background: url(../img/icons/clock.svg);
                        top: 0;
                        transform: translateY(15%);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
    }
}

/*====  Media  ====*/
@import url(./base_media.css);
