@media screen and (max-width: 1620px) {
    body {
        .header_parent {
            padding: 30px 10px;
        }
        .footer {
            padding: 30px 10px;
        }
    }
}
@media screen and (max-width: 1024px) {
    body {
        .header_parent {
            position: relative;
            padding: 30px 10px;
            .header {
                // justify-content: space-around;
                gap: 15px;
                flex-wrap: wrap;
                .logotype {
                    span {
                        font-size: 12px;
                    }
                }
                .language_switcher {
                    .select_box {
                        font-size: 12px;
                    }
                }
                .header_info {
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-between;
                    .info {
                        gap: 20px;
                        font-size: 12px;
                    }
                    .request_call {
                        button {
                            font-size: 12px;
                        }
                    }
                }
                @media screen and (max-width: 746px) {
                    .header_info {
                        gap: 20px;
                    }
                }
            }

            .menu {
                width: 100%;
                top: 4px;
                position: absolute;
                .menu_list {
                    gap: 30px;
                    .menu_inner a {
                        font-size: 12px;
                    }
                }
            }
        }
        .footer {
            font-size: 12px;
            .footer_container {
                .footer_card {
                    .logotype {
                        span {
                            font-size: 12px;
                        }
                    }
                    .info {
                        font-size: 12px;
                        @media screen and (max-width: 327px) {
                            .footer_phone {
                                .request_call {
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    body {
        .header_parent {
            padding: 30px 10px;
            .header {
                // justify-content: space-around;
                gap: 15px;
                flex-wrap: wrap;
                .logotype {
                    span {
                        font-size: 12px;
                    }
                }
                .language_switcher {
                    .select_box {
                        font-size: 12px;
                    }
                }
                .header_info {
                    flex-direction: row;
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .info {
                        flex-wrap: wrap;
                        gap: 20px;
                        font-size: 12px;
                    }
                    .request_call {
                        button {
                            font-size: 12px;
                        }
                    }
                }
            }
            .menu {
                z-index: 10;
                box-shadow: -7px 0px 9px -5px rgba(0, 0, 0, 0.2);
                background-color: #e9fdff;
                display: none;
                padding: 0 13px;
                height: 100%;
                width: auto;
                top: 0px;
                position: absolute;
                .menu_list {
                    position: relative;
                    margin: 0;
                    // text-align: right;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin-top: 22px;
                    gap: 10px;
                    .menu_inner a {
                        font-size: 12px;
                    }
                }
            }
            .menu_btn {
                cursor: pointer;
                right: 11px;
                top: 92px;
                position: absolute;
                display: inline-block;
                width: 20px;
                background: url(../img/icons/menu.png);
                background-size: cover;
                background-repeat: no-repeat;
                height: 20px;
            }
            .menu_close_btn {
                display: none;
                cursor: pointer;
                // right: 140px;
                top: 28px;
                z-index: 6;
                position: absolute;
                width: 20px;
                background: url(../img/icons/modal_close_black.png);
                background-size: cover;
                background-repeat: no-repeat;
                height: 20px;
            }
            .active_menu {
                display: flex;
                animation-duration: 0.3s;
                animation-name: menu;
                right: 0;
            }
            .menu_close_btn_active {
                display: inline-block;
                animation-duration: 0.3s;
                animation-name: menu_close_btn;
                right: 140px;
            }
            @keyframes menu {
                from {
                    right: -127px;
                }
                to {
                    right: 0;
                }
            }

            @keyframes menu_close_btn {
                from {
                    right: -9px;
                }
                to {
                    right: 140px;
                }
            }
        }
    }
}
