/*====  Базовые настройки  ====*/

/*====  Большой слайдер  ====*/
.main_slider {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    max-width: 1620px;
    margin: 0 auto;
    .main_slider_wrap {
        display: flex;
        .page {
            flex-shrink: 0;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
            height: 450px;
            .page_content {
                justify-content: space-between;
                height: 450px;
                padding: 50px 0;
                display: flex;
                flex-direction: column;
                .page_title {
                    width: 400px;
                    padding: 6px 10px 6px 60px;
                    background-color: #e9fdff;
                    color: #000;
                    margin: 0;
                    font-size: 30px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    font-family: ProximaNova-Semibold, serif;
                    display: inline-block;
                }
                .page_wrap {
                    display: flex;
                    justify-content: space-between;
                    .wrap {
                        flex-basis: 50%;
                        display: inline-block;
                        font-size: 14px;
                        font-family: ProximaNova-Regular, serif;
                        .page_location {
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                            display: inline-block;
                            background-color: #e9fdff;
                            padding: 6px 10px 6px 60px;
                        }
                    }
                    .page_show_detail {
                        color: #000;
                        text-align: center;
                        font-family: ProximaNova-Regular, serif;
                        font-size: 14px;
                        margin-right: 3%;
                        display: inline-block;
                        text-decoration: none;
                        width: 174px;
                        height: 50px;
                        line-height: 50px;
                        padding: 0 10px;
                        border-radius: 5px;
                        // border: 2px solid #acacac;
                        background: #e9fdff;
                        &:hover {
                            background: #aaaaaa;
                        }
                    }
                }
            }
        }
    }
    .slider_arrows {
        bottom: 0;
        display: flex;
        z-index: 5;
        position: absolute;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        .arrow {
            cursor: pointer;
            position: relative;
            width: 37px;
            img {
                width: 100%;
                // display: inline-block;
            }
        }
        .arrow_prev {
            transform: rotate(-90deg);
        }
        .arrow_next {
            transform: rotate(90deg);
        }
        .counter {
            .swiper-pagination-bullet {
                background: #000;
                opacity: 0.7;
            }
            .swiper-pagination-bullet-active {
                background: #e9fdff;
                opacity: 1;
            }
            display: flex;
            display: inline-block;
            text-align: center;
        }
    }
}

/*====  Услуги(карточки)  ====*/
.main {
    .main_title {
        margin: 100px 0;
        font-size: 30px;
        font-family: ProximaNova-Semibold, serif;
        text-align: center;
    }
    .cards_service {
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
        .card {
            box-shadow: 0px 0px 6px 0px rgba(34, 60, 80, 0.36);
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 420px;
            align-items: center;
            // border: solid red 2px;
            .card_img {
                overflow: hidden;
                // display: block;
                // width: 300px;
                height: 170px;
                img {
                    width: 100%;
                }
            }
            .card_title {
                display: block;
                text-align: center;
                max-width: 230px;
                font-size: 20px;
                font-family: ProximaNova-Semibold, serif;
            }
            .card_text {
                max-width: 280px;
                text-align: justify;
                margin: 0;
                font-size: 12px;
                font-family: ProximaNova-Regular, serif;
            }
            .button_details {
                font-family: ProximaNova-Regular, serif;
                font-size: 14px;
                color: #000;
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 154px;
                height: 40px;
                border: 2px solid #acacac;
                background: #e9fdff;
                border-radius: 5px;
                text-decoration: none;
                span {
                    display: block;
                }
                &:hover {
                    background: #acacac;
                }
            }
        }
    }
}

/*====  Наши работы  ====*/
.our_work {
    max-width: 1620px;
    margin: 0 auto;
    margin-bottom: 50px;
    .our_work_title {
        margin: 100px 0;
        font-size: 30px;
        text-align: center;
        font-family: ProximaNova-Semibold, serif;
    }
    .our_work_slider {
        border-radius: 5px;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Chrome/Safari/Opera */
        -khtml-user-select: none; /* Konqueror */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
        position: relative;
        overflow: hidden;
        .our_work_slider_wrap {
            display: flex;
            .work_card {
                flex-shrink: 0;
                .card_inner {
                    position: relative;
                    border-radius: 5px;
                    height: 300px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .our_work_pagination {
            text-align: center;
            .swiper-pagination-bullet {
            }
            .swiper-pagination-bullet-active {
                background: #000;
                opacity: 1;
            }
        }
    }
    .our_work_show_more {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        .show_more_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 154px;
            height: 40px;
            border: 2px solid #acacac;
            background: #e9fdff;
            border-radius: 5px;
            text-decoration: none;
            color: #000;
            font-family: ProximaNova-Regular, serif;
            text-align: center;
            font-size: 14px;
            span {
                display: inline-block;
            }
            &:hover {
                background-color: #acacac;
            }
        }
    }
}

.send_message {
    // background: url(/gaboin/static/main/img/send_message_bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 100px;
    .send_message_title {
        width: 250px;
        font-family: "ProximaNova-Semibold", sans-serif;
        p {
            font-size: 24px;
            margin: 0;
            text-align-last: justify;
        }
        span {
            display: block;
            text-align-last: justify;
            font-size: 35px;
        }
    }
    .send_message_form {
        
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .name_phone {
            gap: 10px;
            display: flex;
            .name {
                flex-basis: 50%;
                font-size: 14px;
                position: relative;
                &:before {
                    content: "";
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    background: url(/gaboin/static/base_static/img/icons/user.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                input {
                    width: 100%;
                    background: transparent;
                    border: solid 2px #acacac;
                    display: block;
                    height: 40px;
                    border-radius: 5px;
                    padding-left: 30px;
                }
            }
            .phone {
                flex-basis: 50%;
                font-size: 14px;
                position: relative;
                &:before {
                    content: "";
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    background: url(/gaboin/static/base_static/img/icons/phone.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                input {
                    width: 100%;
                    background: transparent;
                    border: solid 2px #acacac;
                    display: block;
                    height: 40px;
                    border-radius: 5px;
                    padding-left: 30px;
                }
            }
        }

        .message {
            resize: none;
            height: 200px;
        }
        .modal_submit_btn {
            text-align: center;
            button {
                width: 100%;
                cursor: pointer;
                font-family: ProximaNova-Semibold, sans-serif;
                border: solid 2px #acacac;
                background: transparent;
                border-radius: 5px;
                height: 40px;
                font-size: 14px;
                &:hover {
                    background-color: #acacac;
                }
            }
        }
    }
}
.message {
    resize: none;
    height: 200px;
}


/*====  Адаптив  ====*/
@import url(./main_media.css);