@media screen and (max-width: 1620px) {
    body {
        .main {
            padding: 0 10px;
        }
        .send_message {
            padding: 30px 10px 30px 10px;
        }
    }
}
@media screen and (max-width: 1024px) {
    body {
        .main_slider {
            .main_slider_wrap {
                .page {
                    .page_content {
                        .page_title {
                            font-size: 25px;
                            padding: 0;
                            padding-left: 10px;
                        }
                        .page_wrap {
                            .wrap {
                                font-size: 12px;
                                .page_location {
                                    padding-left: 10px;
                                }
                            }
                            .page_show_detail {
                                font-size: 12px;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
            .slider_arrows {
                .arrow {
                }
                .arrow_prev {
                }
                .arrow_next {
                }
                .counter {
                }
            }
        }
        .main {
            padding: 0 10px;
            .main_title {
                font-size: 25px;
                margin: 50px 0;
            }
            .cards_service {
                .card {
                    height: 330px;
                    width: 240px;
                    .card_img {
                        height: 128px;
                    }
                    .card_title {
                        font-size: 16px;
                    }
                    .card_text {
                        width: 220px;
                        font-size: 10px;
                    }
                    .button_details {
                        font-size: 12px;
                    }
                }
            }
        }
        .our_work {
            .our_work_title {
                margin: 50px 0;
                font-size: 25px;
            }
            .our_work_slider {
                .our_work_slider_wrap {
                    .work_card {
                        .card_inner {
                            height: 200px;
                            a {
                            }
                        }
                    }
                }
            }
            .our_work_show_more {
                .show_more_btn {
                    font-size: 12px;
                }
            }
        }
        .send_message {
            .send_message_title {
                width: 200px;
                p {
                    font-size: 20px;
                }
                span {
                    font-size: 24px;
                }
            }
            .send_message_form {
                width: 380px;
                .name_phone {
                    .name {
                        font-size: 12px;
                        input {
                            padding-left: 20px;
                        }
                        &::before {
                            width: 15px;
                            height: 15px;
                        }
                    }
                    .phone {
                        font-size: 12px;
                        input {
                            padding-left: 20px;
                        }
                        &::before {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
                .message {
                }
                .modal_submit_btn {
                    button {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    body {
        .main_slider {
            .main_slider_wrap {
                .page {
                    height: 300px;
                    .page_content {
                        height: 338px;
                        .page_title {
                            font-size: 18px;
                        }
                        .page_wrap {
                            gap: 10px;
                            padding-top: 30px;
                            .wrap {
                                font-size: 9px;
                                .page_location {
                                    padding-left: 10px;
                                }
                            }
                            .page_show_detail {
                                height: 32.69px;
                                width: 123px;
                                line-height: 32.69px;
                                font-size: 9px;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
            .slider_arrows {
                .arrow {
                    display: none;
                }
                .arrow_prev {
                }
                .arrow_next {
                }
                .counter {
                }
            }
        }
        .main {
            .main_title {
            }
            .cards_service {
                .card {
                    .card_img {
                    }
                    .card_title {
                    }
                    .card_text {
                    }
                    .button_details {
                    }
                }
            }
        }
        .our_work {
            .our_work_title {
            }
            .our_work_slider {
                .our_work_slider_wrap {
                    .work_card {
                        .card_inner {
                            height: 140px;
                            a {
                            }
                        }
                    }
                }
            }
            .our_work_show_more {
                .show_more_btn {
                }
            }
        }
        .send_message {
            gap: 30px;
            .send_message_title {
                p {

                }
                span {
                }
            }
            .send_message_form {
                .name_phone {
                    .name {
                        input {
                        }
                        &::before {
                        }
                    }
                    .phone {
                        input {
                        }
                        &::before {
                        }
                    }
                }
                .message {
                }
                .modal_submit_btn {
                    button {
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 425px) {
    body {
        .main_slider {
            .main_slider_wrap {
                .page {
                    height: 250px;
                    .page_content {
                        height: 286px;
                        .page_title {
                            width: 250px;
                            font-size: 14px;
                        }
                        .page_wrap {
                            flex-basis: auto;
                            padding-top: 30px;
                            .wrap {
                                font-size: 7px;
                                .page_location {
                                    padding-left: 10px;
                                }
                            }
                            .page_show_detail {
                                height: 34px;
                                width: 123px;
                                line-height: 34px;
                                font-size: 9px;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
            .slider_arrows {
                .arrow {
                    display: none;
                }
                .arrow_prev {
                }
                .arrow_next {
                }
                .counter {
                }
            }
        }
    }
}
@media screen and (max-width: 375px) {
    body {
        .our_work {
            .our_work_title {
            }
            .our_work_slider {
                .our_work_slider_wrap {
                    .work_card {
                        .card_inner {
                            height: 110px;
                            a {
                            }
                        }
                    }
                }
            }
            .our_work_show_more {
                .show_more_btn {
                }
            }
        }
    }
}
